iOS Cordova Tweak
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
	--f7-theme-color: #07a092;
	--f7-theme-color-rgb: 7, 160, 146;
	--f7-theme-color-shade: #05796e;
	--f7-theme-color-tint: #09c7b6;

	/* Cores da UFFS */
	/* --f7-theme-color: #00693e;
	--f7-theme-color-rgb: 0,105,62;
	--f7-theme-color-shade: #004026;
	--f7-theme-color-tint: #009256; */

	--f7-dialog-border-radius: 15px 15px 0px 15px;
}
.md {
	--f7-page-bg-color-rgb: 255, 255, 255;
}
.md .theme-dark,
.md.theme-dark {
	--f7-page-bg-color-rgb: 18, 18, 18;
}

/* custom styles from app sheet contents */

.custom-text-title {
	font-size: 150%;
	font-weight: bold;
	color: var(--f7-theme-color);
	text-align: center;
	padding: 15px 0px;
}

.custom-text-subtitle {
	font-size: 5vw;
	line-height: 5.5vw;
	text-align: center;
}

.custom-text-default {
	font-size: 4.2vw;
	line-height: 4.8vw;
	width: 100%;
}

.custom-text-font-legend {
	width: 100%;
	margin-top: 3px;
	font-size: 3.3vw;
	line-height: 3.3vw;
	text-align: right;
}


.custom-image-large {
	width: 100%;
	border-radius: 5px;
}

.custom-image-medium {
	width: 60%;
	border-radius: 5px;
}

.custom-image-small {
	width: 30%;
	border-radius: 5px;
}

.width-100 {
	width: 100%;
}

.height-100 {
	height: 100%;
}

.custom-video-small {
	height: 150px;
	padding: 12px 0 12px 0;
}

.custom-video-medium {
	height: 200px;
	padding: 12px 0 12px 0;
}

.custom-video-large {
	aspect-ratio: 1;
	padding: 12px 0 12px 0;
}

.custom-header-card-expansive {
	height: auto;
	width: 100%;
	background-color: var(--f7-theme-color);
}

.custom-link {
	height: 100px;
	width: 100%;
	border: 1px solid white;
}

.custom-item-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 15px;
	border: var(--f7-theme-color) 1px solid;
	box-sizing: border-box;
	margin: 10px 0px;
	color: var(--f7-card-footer-text-color);
}

.custom-item-link-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
}
