iOS Cordova Tweak .device-cordova.device-ios {
	height: 100vh;
}

/* Custom color theme properties */
:root {
	--f7-theme-color: #07a092;
	--f7-theme-color-rgb: 7, 160, 146;
	--f7-theme-color-shade: #05796e;
	--f7-theme-color-tint: #09c7b6;

	/* Cores da UFFS */
	/* --f7-theme-color: #00693e;
	--f7-theme-color-rgb: 0,105,62;
	--f7-theme-color-shade: #004026;
	--f7-theme-color-tint: #009256; */

	--f7-dialog-border-radius: 15px 15px 0px 15px;
	--f7-card-box-shadow: var(--f7-elevation-3)
}

.md {
	--f7-page-bg-color-rgb: 255, 255, 255;
	--f7-toolbar-bg-color-rgb: 247, 247, 248;
	--f7-bars-bg-color-rgb: 247, 247, 248;
}

.md .theme-dark,
.md.theme-dark {
	--f7-page-bg-color-rgb: 18, 18, 18;
	--f7-toolbar-bg-color-rgb: 32,32,32;
	--f7-bars-bg-color-rgb: 32,32,32;
}

/* custom styles from app sheet contents */

.custom-header-card-expansive {
	height: auto;
	width: 100%;
	background-color: var(--f7-theme-color);
}

.custom-link {
	height: 100px;
	width: 100%;
	border: 1px solid white;
}

.custom-item-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 15px;
	border: var(--f7-theme-color) 1px solid;
	box-sizing: border-box;
	margin: 10px 0px;
	color: var(--f7-card-footer-text-color);
}

.custom-item-link-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

/* Text */
.custom-text-title {
	font-size: 160%;
	font-weight: 600;
	color: var(--f7-theme-color);
	text-align: center;
	margin: 15px 0px;
}

.custom-text-subtitle {
	font-size: 130%;
	font-weight: 500;
	padding: 5px 0px;
}

.custom-text-default {
	font-size: 105%;
	width: 100%;
	text-indent: 8%;
	margin: 1em 0;
}

.custom-text-font-legend {
	width: 100%;
	margin-top: 0px;
	font-size: 90%;
	text-align: right;
}

/* Image */
.custom-image-large {
	width: 100%;
	border-radius: 5px;
}

.custom-image-medium {
	width: 60%;
	border-radius: 5px;
}

.custom-image-small {
	width: 30%;
	border-radius: 5px;
}

.width-100 {
	width: 100%;
}

.height-100 {
	height: 100%;
}

/* Video */
.custom-video-small {
	height: 150px;
	padding: 12px 0 12px 0;
}

.custom-video-medium {
	height: 200px;
	padding: 12px 0 12px 0;
}

.custom-video-large {
	aspect-ratio: 1;
	padding: 12px 0 12px 0;
}

/* Expandable Card */
.card-backdrop {
	animation: none !important;
	transition: 400ms;
}

.card-backdrop-in {
	background-color: rgba(0, 0, 0, 0.2);
}

.toolbar {
	background-color: rgba(var(--f7-toolbar-bg-color-rgb, var(--f7-bars-bg-color-rgb)));
	-webkit-backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
	backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
}



/* width */
::-webkit-scrollbar {
	width: 10px;
	
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--f7-toolbar-bg-color-rgb);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
